

        <div class="row">
         <h4 class="title"><span class="text"><strong>Seasion</strong> list</span></h4>
            <%unless @seasions.blank?%>
              <table class="table table-striped">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tbody>               
                <%@seasions.each do |seasion|%>
	                <tr>
	                  <td>1</td>	
	                  <td><%=seasion.name.capitalize%></td>
	                  <td><%=seasion.status%></td>
	                  <input type="hidden" />	
	                  <td>
	                  	<%=link_to image_tag("../assets/edit.jpg",height: 20,width: 20),"#",{id: "edit_seasion",seasion_id: "#{seasion.id}", name: "#{seasion.name}",status: "#{seasion.status}"}%> | <%=link_to image_tag("../assets/delete1.jpg",height: 20,width: 20),"#",{id: "delete_seasion",seasion_id: "#{seasion.id}"}%>
	                  </td>
	                   
	                </tr>
                <%end%>             
                   
                </tbody>            
              </table>
               <%else%>
                <tr>Sorry there is no record yet.</tr>
				   
				<%end%>
        </div>
      

