

        <div class="row">
          <div class="col-lg-12">
            <fieldset>
            	<legend>Colors</legend>
            </fieldset>
              
            

            <div class="bs-example table-responsive">
            <%unless @colors.blank?%>
              <table class="table table-striped table-hover" id="sunil_datatable">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
                <tbody>               
                <%@colors.each do |clr|%>
	                <tr>
	                  <td>1</td>	
	                  <td><%=clr.name.capitalize%></td>
	                  <td><%=clr.status%></td>
	                  <input type="hidden" />	
	                  <td>
	                  	<%=link_to image_tag("../assets/edit.jpg",height: 20,width: 20),"#",{id: "edit_color",color_id: "#{clr.id}", name: "#{clr.name}",status: "#{clr.status}"}%> | <%=link_to image_tag("../assets/delete1.jpg",height: 20,width: 20),"#",{id: "delete_color",color_id: "#{clr.id}"}%>
	                  </td>
	                   
	                </tr>
                <%end%>             
                   
                </tbody>            
              </table>
               <%else%>
                <tr>Sorry there is no record yet.</tr>
				   
				<%end%>
            </div><!-- /example -->
          </div>
        </div>
      

